<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="로이킴 팬명록" />
    <meta property="og:description" content="응원 한마디 남기고 가세요!" />
    <meta property="og:image" content="https://menu.mt.co.kr/moneyweek/thumb/2021/12/13/06/2021121315338038660_1.jpg" />




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>초미니홈피 - 팬명록</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }
        .mypic {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://menu.mt.co.kr/moneyweek/thumb/2021/12/13/06/2021121315338038660_1.jpg');
            background-position: center 30%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .mypost > button {
            margin-top: 15px;
        }

        .mycards {
            width: 95%;
            max-width: 500px;
            margin: auto;
        }

        .mycards > .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <script>
        $(document).ready(function(){
            set_temp()
            show_comment()
        });

        //api 불러오기(날씨)
        function set_temp(){
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
                data: {},
                success: function (response) {
                    $('#temp').text(response['temp'])
                }
            })
        }

        //코멘트 정보 불러오기
        function show_comment(){
            $.ajax({
                type: "GET",
                url: "/homework",
                data: {},
                success: function (response) {
                    console.log(response["penPage"])
                    let rows = response["penPage"]
                    for (let i = 0; i < rows.length; i++) {
                        let nickname = rows[i]["nickName"]
                        let cheeringComment = rows[i]["cheeringComment"]
                        let passwd = rows[i]["passwd"]
                        let comment_num = rows[i]["comment_num"]

                        let temp_html = `<div class="card">
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <p>${cheeringComment}</p>
                                                    <footer class="blockquote-footer">${nickname}</footer>
                                                    <input id="nickname${comment_num}" value="${nickname}" type="hidden">
                                                    <input id="comment_num${comment_num}" value="${comment_num}" type="hidden">
                                                    <button type="button" class="btn btn-outline-success" onclick="commentUpdate(${comment_num})">수정하기</button>
                                                    <button type="button" class="btn btn-outline-danger" onclick="commentDelete(${comment_num})">삭제하기</button>
                                                </blockquote>
                                            </div>
                                        </div>`

                        $('#comment-list').append(temp_html)
                    }

                }
            })
        }

        //코멘트 저장하기
        function save_comment(){

            let Nick_Name = $('#name').val();
            let Passwd = $('#passwd').val();
            let Cheering_Comment = $('#comment').val();
            console.log(Nick_Name, Cheering_Comment, Passwd)

            $.ajax({
                type: "GET",
                url: "/homework",
                data: {},
                success: function (response) {
                    console.log(response["penPage"])
                    let rows = response["penPage"]

                    let comment_num = parseInt(rows.length)
                    console.log('comment_num : '+comment_num)

                    if(comment_num == 0){
                        comment_num = 1
                    }else {
                        comment_num = parseInt(rows[comment_num - 1]["comment_num"]) + 1
                    }

                     $.ajax({
                        type: 'POST',
                        url: '/homework',
                        data: {'nickName_give':Nick_Name,'cheeringComment_give':Cheering_Comment,'passwd_give':Passwd, 'comment_num_give':comment_num},
                        success: function (response) {
                            alert(response['msg'])

                            window.location.reload()
                        }
                    })

                }
            })
            //기존값
            // $.ajax({
            //     type: 'POST',
            //     url: '/homework',
            //     data: {'nickName_give':Nick_Name,'cheeringComment_give':Cheering_Comment,'passwd_give':Passwd},
            //     success: function (response) {
            //         alert(response['msg'])
            //
            //         window.location.reload()
            //     }
            // })

        }

        //코멘트 수정하기
        function commentUpdate(comment_num2){
            let inputString = prompt('비밀번호를 입력하세요.');

            let num = comment_num2;
            let NickName = $('#nickname'+num).val();
            let Comment_num = $('#comment_num'+num).val();
            //let Passwd = $('#PassWd'+num).val();
            console.log('inputString : '+inputString);

            $.ajax({
                type: "GET",
                url: "/homework",
                data: {},
                success: function (response) {
                    console.log(response["penPage"])
                    let rows = response["penPage"]
                    for (let i = 0; i < rows.length; i++) {
                        let passwd = rows[i]["passwd"]
                        let nickname = rows[i]["nickName"]
                        //let cheeringComment = rows[i]["cheeringComment"]
                        let comment_num = rows[i]["comment_num"]

                        //비밀번호가 같을 때 실행
                        if(passwd == inputString && nickname == NickName && Comment_num == comment_num){
                            let inputString2 = prompt('수정할 내용을 입력하세요.');

                            $.ajax({
                                type: "POST",
                                url: "/reviewUpdate",
                                data: {'passwd_receive':passwd, 'nickName_receive':nickname, 'cheeringComment_receive':inputString2 , 'comment_num_receive':comment_num},
                                success: function (response) {
                                        alert(response['msg'])
                                        window.location.reload();
                                }
                            })
                        }
                    }

                }
            })


            //  $.ajax({
            //     type: 'POST',
            //     url: '/homework/update',
            //     data: {'nickName_give':Nick_Name,'cheeringComment_give':Cheering_Comment,'passwd_give':Passwd},
            //     success: function (response) {
            //         alert(response['msg'])
            //
            //         window.location.reload()
            //     }
            // })
        }

        //코멘트 삭제하기
        function commentDelete(comment_num2){
            let inputString = prompt('비밀번호를 입력하세요.');
            let num = comment_num2;
            let NickName = $('#nickname'+num).val();
            let Comment_num = $('#comment_num'+num).val();

            console.log('inputString : '+inputString);

            $.ajax({
                type: "GET",
                url: "/homework",
                data: {},
                success: function (response) {
                    console.log(response["penPage"])
                    let rows = response["penPage"]
                    for (let i = 0; i < rows.length; i++) {
                        let passwd = rows[i]["passwd"]
                        let nickname = rows[i]["nickName"]
                        let cheeringComment = rows[i]["cheeringComment"]
                        let comment_num = rows[i]["comment_num"]

                        //비밀번호가 같을 때 실행
                        if(passwd == inputString && nickname == NickName && Comment_num == comment_num){
                            $.ajax({
                                type: "POST",
                                url: "/reviewDelete",
                                data: {'passwd_receive':passwd, 'nickName_receive':nickname, 'cheeringComment_receive':cheeringComment , 'comment_num_receive':comment_num},
                                success: function (response) {
                                        alert(response['msg'])
                                        window.location.reload();
                                }
                            })
                        }
                    }

                }
            })

            //  $.ajax({
            //     type: 'POST',
            //     url: '/homework/delete',
            //     data: {'nickName_give':Nick_Name,'cheeringComment_give':Cheering_Comment,'passwd_give':Passwd},
            //     success: function (response) {
            //         alert(response['msg'])
            //
            //         window.location.reload()
            //     }
            // })
        }
    </script>
</head>
<body>
    <div class="mypic">
        <h1>로이킴 팬명록</h1>
        <p>현재기온: <span id="temp">36</span>도</p>
    </div>
    <div class="mypost">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="url">
            <label for="floatingInput">닉네임</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="passwd" placeholder="url">
            <label for="floatingInput">비밀번호</label>
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">응원댓글</label>
        </div>

        <button onclick="save_comment()" type="button" class="btn btn-dark">응원 남기기</button>
    </div>
    <div class="mycards" id="comment-list">
    </div>
</body>
</html>